@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vars */
@layer base {
  :root {
    --background: 0 0% 97.6471%;
    --foreground: 0 0% 22.7451%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 22.7451%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 22.7451%;
    --primary: 0 0% 37.6471%;
    --primary-foreground: 0 0% 94.1176%;
    --secondary: 0 0% 87.0588%;
    --secondary-foreground: 0 0% 22.7451%;
    --muted: 0 0% 89.0196%;
    --muted-foreground: 0 0% 31.3725%;
    --accent: 47.4419 64.1791% 86.8627%;
    --accent-foreground: 14.2105 25.6757% 29.0196%;
    --destructive: 0 41.4894% 63.1373%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0.8696% 45.098%;
    --input: 0 0% 100%;
    --ring: 0 0% 62.7451%;
    --chart-1: 0 0% 20%;
    --chart-2: 0 0% 33.3333%;
    --chart-3: 0 0% 46.6667%;
    --chart-4: 0 0% 60%;
    --chart-5: 0 0% 73.3333%;
    --sidebar: 0 0% 94.1176%;
    --sidebar-foreground: 0 0% 22.7451%;
    --sidebar-primary: 0 0% 37.6471%;
    --sidebar-primary-foreground: 0 0% 94.1176%;
    --sidebar-accent: 47.4419 64.1791% 86.8627%;
    --sidebar-accent-foreground: 14.2105 25.6757% 29.0196%;
    --sidebar-border: 0 0% 75.2941%;
    --sidebar-ring: 0 0% 62.7451%;
    --font-sans: Architects Daughter, sans-serif;
    --font-serif: 'Times New Roman', Times, serif;
    --font-mono: 'Courier New', Courier, monospace;
    --radius: 0.625rem;
    --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
      1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
      1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
      1px 2px 4px -1px hsl(0 0% 0% / 0.03);
    --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
      1px 4px 6px -1px hsl(0 0% 0% / 0.03);
    --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
      1px 8px 10px -1px hsl(0 0% 0% / 0.03);
    --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
    --tracking-normal: 0.5px;
  }

  .dark {
    --background: 0 0% 16.8627%;
    --foreground: 0 0% 86.2745%;
    --card: 0 0% 20%;
    --card-foreground: 0 0% 86.2745%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 86.2745%;
    --primary: 0 0% 69.0196%;
    --primary-foreground: 0 0% 16.8627%;
    --secondary: 0 0% 35.2941%;
    --secondary-foreground: 0 0% 75.2941%;
    --muted: 0 0% 27.0588%;
    --muted-foreground: 0 0% 62.7451%;
    --accent: 0 0% 87.8431%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 35.5932% 76.8627%;
    --destructive-foreground: 0 0% 16.8627%;
    --border: 0 0% 30.9804%;
    --input: 0 0% 20%;
    --ring: 0 0% 75.2941%;
    --chart-1: 0 0% 93.7255%;
    --chart-2: 0 0% 81.5686%;
    --chart-3: 0 0% 69.0196%;
    --chart-4: 0 0% 56.4706%;
    --chart-5: 0 0% 43.9216%;
    --sidebar: 0 0% 12.9412%;
    --sidebar-foreground: 0 0% 86.2745%;
    --sidebar-primary: 0 0% 69.0196%;
    --sidebar-primary-foreground: 0 0% 12.9412%;
    --sidebar-accent: 0 0% 87.8431%;
    --sidebar-accent-foreground: 0 0% 20%;
    --sidebar-border: 0 0% 30.9804%;
    --sidebar-ring: 0 0% 75.2941%;
    --font-sans: Architects Daughter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: 'Fira Code', 'Courier New', monospace;
    --radius: 0.625rem;
    --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
      1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
      1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
      1px 2px 4px -1px hsl(0 0% 0% / 0.03);
    --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
      1px 4px 6px -1px hsl(0 0% 0% / 0.03);
    --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
      1px 8px 10px -1px hsl(0 0% 0% / 0.03);
    --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  pre {
    @apply border rounded-sm md:rounded-md overflow-x-auto !important;
  }

  table {
    @apply overflow-x-auto block;
    scrollbar-width: none !important; /* Firefox */
  }

  table::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, and Edge */
  }

  html.dark pre {
    @apply border-zinc-700 !important;
  }

  [data-rehype-pretty-code-title] {
    @apply !mb-1;
  }

  .pause {
    animation-play-state: paused;
  }
}

.katex {
  overflow: auto;
  word-break: break-word;
  scrollbar-width: none !important; /* Firefox */
}

.katex::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, and Edge */
}
/* Pretty Code */

/* Theme Control */

pre[data-theme*=' '],
code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

html.dark pre[data-theme*=' '],
html.dark code[data-theme*=' '],
html.dark code[data-theme*=' '] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

/* Padding of the code container */

figure pre {
  padding: 15px 0 !important;
}

pre [data-line] {
  padding: 0 1rem;
}

/* Highlighted Lines */

[data-highlighted-line] {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

[data-highlighted-line] > span {
  background-color: transparent !important;
}

html.dark [data-highlighted-line] {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
html.dark [data-highlighted-line] > span {
  background-color: transparent !important;
}

/* Highlight Chars */

[data-highlighted-chars] {
  margin: 5px;
  border-radius: 0.25rem;
  background-color: #7a7a7a35 !important;
  box-shadow: 0 0 0 4px #7a7a7a35;
}

[data-highlighted-chars] span {
  background-color: transparent !important;
}

/* Line Numbers */

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin-right: 1.5rem;
  text-align: right;
  color: rgba(126, 126, 126, 0.5);
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits='4'] > [data-line]::before {
  width: 2.25rem;
}

/* TOC */

#slug a {
  text-decoration: none !important;
}

#slug .container div a:hover {
  text-decoration: underline !important;
}

/* 
#slug ul li {
	list-style: none !important;
} */

.heading-anchor {
  position: relative;
}

.heading-anchor::before {
  content: '#';
  position: absolute;
  left: -1.5rem;
  color: transparent;
  margin-right: 0.1rem;
}

@media screen and (max-width: 768px) {
  .heading-anchor::before {
    content: '';
  }
}

.heading-anchor:hover::before {
  color: #333;
}

html.dark .heading-anchor:hover::before {
  color: #fff;
}

/* Hide Scroll Bar */
code {
  scrollbar-width: none !important; /* Firefox */
}

code::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, and Edge */
}

/* Adjust the scrolling margin in blog slugs */

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 5rem; /* Adjust the value as needed */
}
