@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vars */
@layer base {
  :root {
    --background: 60 24% 96%;
    --foreground: 0 0% 7%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;
    --primary: 70 31% 70%;
    --primary-foreground: 0 0% 7%;
    --secondary: 70 32% 82%;
    --secondary-foreground: 0 0% 7%;
    --muted: 60 24% 96%;
    --muted-foreground: 0 0% 7%;
    --accent: 70 31% 70%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 100% 99%;
    --border: 0 1% 17%;
    --input: 0 1% 17%;
    --ring: 146 57% 27%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 60 24% 96%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 100%;
    --primary: 70 31% 70%;
    --primary-foreground: 0 0% 7%;
    --secondary: 70 32% 82%;
    --secondary-foreground: 0 0% 7%;
    --muted: 0 0% 7%;
    --muted-foreground: 70 32% 82%;
    --accent: 70 31% 70%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 100% 99%;
    --border: 0 1% 17%;
    --input: 0 1% 17%;
    --ring: 146 57% 27%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  pre {
    @apply border rounded-sm md:rounded-md overflow-x-auto !important;
  }

  table {
    @apply overflow-x-auto block;
    scrollbar-width: none !important; /* Firefox */
  }

  table::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, and Edge */
  }

  html.dark pre {
    @apply border-zinc-700 !important;
  }

  [data-rehype-pretty-code-title] {
    @apply !mb-1;
  }

  .pause {
    animation-play-state: paused;
  }
}

.katex {
  overflow: auto;
  word-break: break-word;
  scrollbar-width: none !important; /* Firefox */
}

.katex::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, and Edge */
}
/* Pretty Code */

/* Theme Control */

pre[data-theme*=' '],
code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

html.dark pre[data-theme*=' '],
html.dark code[data-theme*=' '],
html.dark code[data-theme*=' '] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

/* Padding of the code container */

figure pre {
  padding: 15px 0 !important;
}

pre [data-line] {
  padding: 0 1rem;
}

/* Highlighted Lines */

[data-highlighted-line] {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

[data-highlighted-line] > span {
  background-color: transparent !important;
}

html.dark [data-highlighted-line] {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
html.dark [data-highlighted-line] > span {
  background-color: transparent !important;
}

/* Highlight Chars */

[data-highlighted-chars] {
  margin: 5px;
  border-radius: 0.25rem;
  background-color: #7a7a7a35 !important;
  box-shadow: 0 0 0 4px #7a7a7a35;
}

[data-highlighted-chars] span {
  background-color: transparent !important;
}

/* Line Numbers */

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin-right: 1.5rem;
  text-align: right;
  color: rgba(126, 126, 126, 0.5);
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits='4'] > [data-line]::before {
  width: 2.25rem;
}

/* TOC */

#slug a {
  text-decoration: none !important;
}

#slug .container div a:hover {
  text-decoration: underline !important;
}

/* 
#slug ul li {
	list-style: none !important;
} */

.heading-anchor {
  position: relative;
}

.heading-anchor::before {
  content: '#';
  position: absolute;
  left: -1.5rem;
  color: transparent;
  margin-right: 0.1rem;
}

@media screen and (max-width: 768px) {
  .heading-anchor::before {
    content: '';
  }
}

.heading-anchor:hover::before {
  color: #333;
}

html.dark .heading-anchor:hover::before {
  color: #fff;
}

/* Hide Scroll Bar */
code {
  scrollbar-width: none !important; /* Firefox */
}

code::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, and Edge */
}

/* Adjust the scrolling margin in blog slugs */

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 5rem; /* Adjust the value as needed */
}
